<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
	<td>Before</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>March 24</td><td> <a href="https://uw-madison-datascience.github.io/spreadsheet-health-lesson/">Spreadsheets/Open Refine</a></td></tr>
	<tr><td>March 25</td><td><a href="https://uw-madison-datascience.github.io/sql-health-lesson/">Data Management with SQL</a></td></tr>
      <tr><td>March 26</td><td><a href="https://uw-madison-datascience.github.io/R-health-lesson/">Introduction to R: dplyr</a></td></tr>
      <tr><td>March 27</td><td><a href="https://uw-madison-datascience.github.io/R-health-lesson/">Continuation of R: ggplot and Rmd</a></td></tr>	      	    
      <tr>
	<td>END</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	</tr>
	</table>
  </div>
</div>
